@import "tailwindcss";

@theme {
  --color-danger: #ef4444;
  --color-dark: #0f172a;
  --color-card: #1e293b;
}

body {
  @apply bg-gray-950 text-gray-200 antialiased;
  font-family: 'Inter', sans-serif;
}